
/*-- Botões do cards --*/
.btn-primary {
    color: #ffd500;
    background-color: #191919;
    border-radius: 50px;
    justify-content: space-between;
    border: none;
}

.btn-primary:hover {
    color: #191919;
    background-color: #ffd500;
}

/*-- cards da Home --*/
#events-container .card {
    flex: auto;
    border-radius: 15px;
    padding: 0;
    margin: 5px;
}

.card-image {
    
}

.card-description {
    font-size: 12px;
    color: #a5a5a5;
}

.card-title {
    color: #212121;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

.card-price {
    font-size: 14px;
    color: #707070;
}
