* {
    font-family: 'Nunito', sans-serif;
}

.row {
    margin: 0;
}

body {
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;
}

header {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    justify-content: space-between;
    display: block;
}

.nav-image {
    width: 60px;
    height: auto;
}

#search-container form {
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 5px;
}

#text-container h1 {
    text-align: center;
    padding: 50px;
}

#events-container .subtitle {
    color: #757575;
    margin-bottom: 30px;
    padding: 30px;
}

#text-container p {
    text-align: center;
    padding: 10px;
    align-items: center;
    display: flex;
}

/*--rodapé--*/
footer {
    text-align: center;
    background-color: #191919;
    color: #fff;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    margin-bottom: 0;
}
